.container{
    /* border:  2px solid black; */
    width: 350px;
    text-align: center;
    margin: 50px auto;
    
}
.container h2{
    padding: 20px 0px 30px 0px;
    font-size: 23px;
}
 input{
    margin: 5px;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 270px;
}
.item{
    display: flex;
}

h3{
    width: 270px;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    display: inline-block;
    margin: 10px 0px 10px 0px;
    background-color: aliceblue;
    position: relative;
    left: 10px;
}
.icon{
    height: 30px;
    display: inline;
    width: 20px;
    position: relative;
    right: 50px;
    top: 10px;
}
/*  
.item button{
    height: 35px;
    display: inline-block; */
/* } */

body{
    background-color: pink;
}